{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": 1,
    "react/button-has-type": 0,
    "jsx-a11y/label-has-for": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelAttributes": "htmlFor",
        "controlComponent": "Field",
        "dept": 2
      }
    ]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
