language: node_js
node_js:
  - 'node'
env:
  global:
    - CC_TEST_REPORTER_ID=$TEST_REPORTER_ID
cache:
  directories:
    - node_modules
notifications:
  email: false
branches:
  only:
    - master
    - develop
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm test
  - npm run coverage
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
